<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
  <footer class="d-flex justify-content-center align-items-center py-5 mt-4 border-top" style="background-color: cornflowerblue; margin-bottom: 0; height: 60px;">
    <span class="text-body-dark">Build by © Aginas</span>
    
</footer>


</body>
</html>
